body{
  margin: 0;
  height: 100vh;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn{
  position: relative;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  border: 2px solid #0ef;
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 1;
  transition: all 0.5s ease;
}

.btn span{
  position: relative;
  z-index: 2;
  transition: color 0.5s ease;
}

.btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background-color: #0ef;
  z-index: -1;
  transform: skewX(-45deg);
  transition: all 0.5s ease;
}

.btn:hover::before{
  left: 50%;
}

.btn:hover span{
  color: #000;
}

.btn:hover{
  box-shadow: 0 0 10px #0ef, 0 0 20px #0ef, 0 0 40px #0ef;
}