@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #F1D8C9, #F2C347);
}

main{
    background-color: white;
    border-radius: 1%;
    box-shadow: 5px 5px 15px #593E25;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
h1{
    color: #000000;
    text-align: center;
}
h1 a:hover{
    color: white;
}

h2{
    color: #22014d67;
}